<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: html_head"/>

<body>

<div class="container text-center">

	<div th:replace="fragments :: menu"></div>
	
	<div>
		<h3 style="text-align:center;"><b>Order List</b></h3>
	</div>
	
	<hr>

	<!-- 
	<div>
		<form th:action="@{/page/1}">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			<input type="text" name="keyword" th:value="${keyword}" required />
			&nbsp;
			<input type="submit" value="Search" />
			&nbsp;
			<input type="button" value="Clear" onclick="clearFilter()"/>
		</form>
	</div>
	-->
	<br>
	
	<div>
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Order Date</th>
				<th>Customer Name</th>
				<th>Customer Address</th>
				<th>Customer Email</th>
				<th>Amount</th>
				<th>View</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="temp : ${orders}">
				<td th:text="${temp.orderDate}" />
				<td th:text="${temp.customerName}" />
				<td th:text="${temp.customerAddress}" />
				<td th:text="${temp.customerEmail}" />
				<td th:text="${temp.amount}" />
				<td><a th:href="@{'/orders/order?orderId=' + ${temp.id}}">View Detail</a></td>
			</tr>
		
		
		</tbody>
	
	</table>
	</div>
	
	<div>
		Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
		&nbsp; - &nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${i != currentPage}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a> 
			<span th:unless="${i != currentPage}">[[${i}]]</span>
			&nbsp;&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
		
	</div>
	
	</div>
	<hr>
	<div th:replace="fragments :: footer"></div>
	
</body>

</html>