<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: html_head"/>

<body>

<div class="container text-center">

	<div th:replace="fragments :: menu"></div>
	
	<div>
		<h3 style="text-align:center;"><b>Book Directory</b></h3>
	</div>
	
	<hr>

	<div>
		<form th:action="@{/page/1}">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			<input type="text" name="keyword" th:value="${keyword}" required />
			&nbsp;
			<input type="submit" value="Search" />
			&nbsp;
			<input type="button" value="Clear" onclick="clearFilter()"/>
		</form>
	</div>
	
	<br>

	<a th:href="@{/books/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Book
	</a>
	
	<div>
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
						Name
					</a>	
				</th>
				<th>Category</th>
				<th>Publisher</th>
				<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
						Price
					</a>	
				</th>
				<th>Image</th>
				<th>Release Date</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempBook : ${books}">
			
				<td th:text="${tempBook.name}" />
				<td th:text="${tempBook.category.name}" />
				<td th:text="${tempBook.publisher.name}" />
				<td th:text="${tempBook.price}" />
				<td> 
					<img th:src="@{${tempBook.ImagePath}}" style="width: 100px"> 
				</td>
				<td th:text="${tempBook.releaseDate}" />
			
				<td sec:authorize="hasAnyAuthority('ADMIN', 'STAFF')">
					<a th:href="@{/books/showFormForUpdate(bookId=${tempBook.id})}"
						class="btn btn-info btn-sm">
						Update
					</a>
				
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/books/delete(bookId=${tempBook.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this book?'))) return false">
						Delete
					</a>
				
				</td>
			</tr>
		
		
		</tbody>
	
	</table>
	</div>
	
	<div>
		Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
		&nbsp; - &nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${i != currentPage}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a> 
			<span th:unless="${i != currentPage}">[[${i}]]</span>
			&nbsp;&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
		
		
	</div>
	
	</div>
	<hr>
	<div th:replace="fragments :: footer"></div>
	
	<script type="text/javascript">
		function clearFilter() {
			window.location = '/books/list';
		}
	</script>
	
</body>

</html>