<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
	<meta charset="ISO-8859-1">
	<title>Book Shop</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/font-awesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script th:src="@{/js/common.js}"></script>
	<link rel="stylesheet" th:href="@{/fontawesome/all.css}">
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
	<div th:fragment="menu">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav mr-auto">
				
				<li class="nav-item">
					<a class="nav-link" th:href="@{/books/list}"><i class="fa fa-home fa-2x"></i></a>
				</li>
			
				<li class="nav-item">
					<a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/list_users}">Users</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" sec:authorize="hasAnyAuthority('ADMIN', 'STAFF')" th:href="@{/orders/list}">Orders</a>
				</li>
				
			</ul>
			
			<ul class="navbar-nav">
				
				<li class="nav-item">
					<a class="nav-link" sec:authorize="!hasAnyAuthority('ADMIN', 'STAFF')" th:href="@{/shoppingCart}"><i class="fa fa-shopping-cart" aria-hidden="true"> My Cart</i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
				</li>
				 
				<li class="nav-item">
					<b><a class="nav-link" sec:authorize="isAuthenticated()"
					th:href="@{/account}" sec:authentication="principal.username"></a></b>
				</li>
				
				<li class="nav-item">
					<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
						<input type="submit" value="Logout" />
					</form>
					<a class="nav-link" sec:authorize="isAuthenticated()" href="" id="logoutLink">Logout</a>
				</li>
				
			</ul>
		
		</nav>
	</div>
	
	<div th:fragment="footer" class="text-center">
		<p>Book Shop - Copyright &copy; Quan</p>
	</div>
	
</body>

</html>