<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0, minimum-scale=1.0">
	<title>Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid text-center">
	<div th:if="${param.error}">
		<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
	</div>
	
	<div th:if="${param.logout}">
		<p class="text-warning">You have been logged out</p>	
	</div>
	
	<div>
		<img th:src="@{/images/bookshop.png}" />
	</div>
	
	<form th:action="@{/login}" method="POST" style="max-width :350px; margin: 0 auto;">
		<div class="border border-secondary p-3 rounded">
			<p>
				<input type="username" name="username" class="form-control" placeholder="Username" required autofocus />
			</p>
			<p>
				<input type="password" name="password" class="form-control" placeholder="Password" required autofocus />
			</p>
			<p>
				<input type="submit" value="Login" class="btn btn-primary" />
			</p>
			<p>
				<a th:href="@{/books/list}">Back</a>
				&nbsp;
				<a th:href="@{/register}">Register</a>
			</p>
		</div>
	
	</form>
</div>

<div th:replace="fragments :: footer"></div>	
</body>
</html>